* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Figtree', sans-serif;
}

a {
  text-decoration: none !important;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 35px 90px;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 3px 0 8px -5px #4B4B4B;
  z-index: 9;
  background-color: #fff;
}

.navbar ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar ul li {
  list-style: none;
  margin-left: 15px;
}

.navbar ul li a {
  color: #333333;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.25px;
  font-size: 17px;
}

.navbar ul li a:hover{
  color: #8B4BCC;
  transition: .2s ease;
}

.btn {
  padding: 12px 30px;
  border: none;
  outline: none;
  background: #8B4BCC;
  color: #fff;
  border-radius: 5px;
}

main{
  margin-top: 110px;
  width: 100%;
  /* background: #E6F0FF; */
}

.hero{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: #F6F6F6;
  padding-top: 10px;
}

.hero .description{
  width: 50%;
  flex-wrap: wrap;
  margin-left: 50px;
  margin-top: -170px;
}

.hero .description .title{
font-size: 64px;
font-weight: 800;
line-height: 72px;
text-align: left;
margin-bottom: 20px;
}

.hero .description .text{
font-size: 24px;
font-weight: 400;
line-height: 35px;
text-align: left;
margin-bottom: 20px;
}

.hero .description .title .span-1{
  color: #8B4BCC;
}
.hero .description .title .span-2{
  color: #1CC91C;
}

.slide {
  width: 100%;
  /* box-shadow: 0 0 15px -9px #4B4B4B; */
}

.light-card{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 150px;
  margin: 30px 0;
}

.light-card .description{
  width: 40%;
  flex-wrap: wrap;
}

.light-card img{
  width: 52%;
}

.light-card .description h1{
font-size: 35px;
font-weight: 700;
line-height: 52px;
text-align: left;
margin-bottom: 10px;
}

.light-card .description p{
font-size: 20px;
font-weight: 400;
line-height: 32px;
text-align: left;
}

.service,
.service-2{
  display: grid;
  place-items: center;
}

.service{
  margin-top: 90px;
}

.service .description,
.service-2 .description{
  display: grid;
  place-items: center;
}

.service .description h1,
.service-2 .description h1{
  font-size: 39px;
font-weight: 600;
line-height: 46px;
letter-spacing: 0px;
text-align: center;
margin-bottom: 10px;
}

.service .description p,
.service-2 .description p{
  font-size: 25px;
font-weight: 400;
line-height: 46px;
letter-spacing: 0px;
text-align: center;
}

.service .description a,
.service-2 .description a{
  color: #8B4BCC;
  margin-top: 10px;
  font-size: 18px;
}
.service .description a .icon,
.service-2 .description a .icon{
  margin-bottom: -4px;
  margin-left: 10px;
}
.service .phone{
  /* width: 70%; */
  height: 500px;
  margin-top: 60px;
}

.service-2 {
  width: 100%;
  background: #8B4BCC;
  color: #fff;
  padding-top: 30px;
}
.service-2 .description a{
  background: #fff;
  padding: 13px;
  border-radius: 5px;
}

.advert-card{
  display: grid;
  width: 100%;
  padding: 70px 150px;
}
.advert-card h1{
font-size: 40px;
font-weight: 700;
line-height: 52px;
letter-spacing: 0em;
text-align: left;

}