*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 15px 50px;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0 4px 10px 0 #4B4B4B;
  height: 110px;
}

.navbar ul{
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar ul li {
  list-style: none;
  margin-left: 10px;
}